html body * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html body {
	background-color: #141414;
	position: relative;
	overflow: hidden;
}

body,
.container {
	height: 100vh;
	margin: auto;
	user-select: none;
	display: flex;
	flex-direction: column;
}

.container h1 {
	font-size: 30px;
	text-align: center;
	color: white;
	margin: 70px 0 30px;
	font-family: "Codystar", cursive;
}

.imgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.left {
	background-color: #202020;
	padding: 20px;
	border-radius: 80px;
}

.borderLeft,
.borderRight {
	padding: 2px;
	border-radius: 80px;
	background: linear-gradient(to bottom right, #1180ff, #ff1ec7);
	box-shadow: 5px 10px 30px #000000;
}

.borderRight {
	background: linear-gradient(to bottom right, #ffff5d, #1180ff);
}

.suwit {
	background-color: #141414;
	border: 2px solid black;
	border-radius: 50%;
	padding: 10px;
	margin: 20px 0;
	transition: all 0.3s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left .suwit:active {
	top: 2px;
}

.left .suwit img,
.right .suwit img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.left .suwit.imgGunting:hover {
	box-shadow: 1px 1px 20px #ffff5d;
	transform: scale(0.95);
}

.left .suwit.imgKertas:hover {
	box-shadow: 1px 1px 20px #1180ff;
	transform: scale(0.95);
}

.left .suwit.imgBatu:hover {
	box-shadow: 1px 1px 20px #ff1ec7;
	transform: scale(0.95);
}

.center {
	height: 93px;
	width: 93px;
	background-color: #141414;
	border: 2px solid #ffffff;
	box-shadow: 5px 5px 20px #000000;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	font-family: "Poppins", sans-serif;
}

.right {
	background-color: #202020;
	padding: 20px;
	border-radius: 80px;
	height: 335px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p.info {
	margin: 0 20px;
	color: white;
	font-weight: 600;
	font-size: 11px;
	font-family: "Cinzel Decorative", cursive;
}

.overlay {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: #00000088;
	transition: all 0.7s;
	z-index: 99;
}

.overlay.on {
	transform: translate(0, -800px);
}

p.start {
	display: inline-block;
	width: 100px;
	height: 25px;
	margin-top: 100px;
	line-height: 25px;
	padding-left: 10px;
	background-color: white;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	cursor: pointer;
}

p.start:active {
	transform: scale(0.95);
}

.skor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skor h3 {
	color: white;
	font-size: 15px;
}
